@model User
@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<title>Login 04</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-xxx" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/LoginAndRegister/LoginAssets/css/style.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>
<body>
	<partial name="_Notification" />

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image:url('@Url.Content("~/loginandregister/loginassets/images/card.jpeg")')">
						</div>
						<div class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Sign In</h3>
								</div>
								<div class="w-100">
									<p class="d-flex justify-content-end">
										<a asp-action="Index" asp-controller="Customer" class="btn btn-primary">
											Back to Home
										</a>
									</p>
								</div>
							</div>
							<form id="loginForm" method="post" asp-action="Login" class="signin-form">
								<div class="form-group mb-3">
									<label asp-for="Email" class="label" for="email">Email</label>
									<input asp-for="Email" type="email" class="form-control" placeholder="email" required>
									<span asp-validation-for="Email" class="text-danger"></span>
								</div>
								<div class="form-group mb-3">
									<label asp-for="Password" class="label" for="password">Password</label>
									<input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
								</div>

								<div class="form-group">
									@if (Model != null)
									{
										<button asp-route-Email="@Model.Email" asp-route-Password="@Model.Password" type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
									}
									else
									{
										<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
									}
								</div>
								<div class="form-group d-md-flex">
									<div class="w-50 text-left">
										
									</div>
								
								</div>
							</form>

							<p class="text-center">Not a member? <a asp-action="Register" asp-controller="LoginAndRegister">Sign Up</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	<script src="~/LoginAndRegister/LoginAssets/js/jquery.min.js"></script>
	<script src="~/LoginAndRegister/LoginAssets/js/popper.js"></script>
	<script src="~/LoginAndRegister/LoginAssets/js/bootstrap.min.js"></script>
	<script src="~/LoginAndRegister/LoginAssets/js/main.js"></script>
</body>
</html>
